<body>
    <div class="header">
        <h2>DriveHub</h2>
    </div>

    <div class="container">
        <div class="car">
            <img src="/assets/img/loginbg.jpg" alt="car">
        </div>

        <div class="main">  	
            <div class="login-container">
                <form [formGroup]="form" class="form" (ngSubmit)="submitCredentials()">
                    <label>SIGN IN</label>
                    <input formControlName="email" class="input" type="text" name="email" id="email" placeholder="Email" required>
                    <input formControlName="password" class="input" type="password" name="pswd" id="pswd" placeholder="Password" required>
                    
                    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                    
                    <button type="submit" id="login-button" class="login-button">LOG IN</button>
                    
                    <div>
                        <span>Don't have an account? </span>
                        <a (click)="navigateRegister()" class="register-link">Register Now</a>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
