<body>
    <div class="header">
        <h2>DriveHub</h2>
    </div>

    <div class="container">
        <div class="car">
            <img src="/assets/img/loginbg.jpg" alt="car">
        </div>

        <div class="main">  
            <div class="register-container">
                <form [formGroup]="form" class="form" (ngSubmit)="submitCredentials()">
                    <label>REGISTER ACCOUNT</label>
                    <div class="input-fields">
                        <input formControlName="email" class="input" type="email" placeholder="Email" required>
                        <input formControlName="password" class="input" type="password" placeholder="Password" required>
                        <input formControlName="firstname" class="input" type="text" placeholder="First Name" required>
                        <input formControlName="lastname" class="input" type="text" placeholder="Last Name" required>
                        
                        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
                    </div>                    

                    <button type="submit" class="register-button">REGISTER</button>
                    <button type="button" (click)="navigateLogin()" class="cancel-button">CANCEL</button>
                </form>
            </div>
        </div>
    </div>
</body>
